@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    display:flex;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width:100vw;
}

/*LEFT SIDE*/

.left-side{
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-image:url("images/background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height:100vh;
    color:white;
}

.logo-background{
    background-color: rgba(0,0,0,0.5);
    width:100%;
    display:flex;
    justify-content: center;
    margin-top:30%;
    padding:20px;
    gap: 10px;
}

.odin-logo{
    max-width:82px;
}
.logo-text{
    font-family:Norse-Bold;
    font-size:96px;
}

.photo-credit{
    text-align:center;
    padding:15px;
}

.photo-credit p, .photo-credit a{
    color:white;
}

/*RIGHT SIDE*/

.right-side{
    padding: 48px;
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:96px;
}

.description{
    display: flex;
    flex-direction:column;
    gap:32px;
    width:clamp(500px, 80%, 700px);
}

.description-text{
    font-size:24px;
    font-weight:550;
}

.main-form{
    display:flex;
    flex-direction:column;
    gap:48px;
    width:clamp(500px, 80%, 700px);
}

.inputs{
    display:flex;
    flex-wrap: wrap;
}

.input-container{
    width:40%;
    display:flex;
    flex-direction:column;
}

legend{
    margin-bottom:30px;
    font-size:24px;
    font-weight:500;
}

fieldset{
    border:0px;
    display:flex;
    gap:12px;
}

.input-container:nth-child(2n+1){
    margin-left:10%;
}

.input-container label{
    text-transform: uppercase;
    font-size:14px;
    color: black;
    padding-bottom:2px;
}

.input-container input{
    height:36px;
    border: solid 1px #E5E7EB;
    border-radius: 5px;
    width:max(80%, 200px);
}

.input-container input:focus{
    height:36px;
    border: solid 1px blue;
    border-radius: 5px;
    width:max(80%, 200px);
    outline:none;
    box-shadow:2px 2px gray;
}


.input-container input:invalid:not(:focus){
    height:36px;
    border: solid 1px red;
    border-radius: 5px;
    width:max(80%, 200px);
}

#create-account{
    background-color:#596D48;
    color:white;
    width:200px;
    height:40px;
    border: black, solid, 1px;
    border-radius:5px;
    font-weight:600;
    font-size: 16px;;
}

.log-in{
    font-size:16px;
}
.log-in-link{
    text-decoration:none;
    color:#596D48;
    font-weight:600;
}



